@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  padding: 0 50px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}


/* init */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:link, a:hover {
  text-decoration: none;
  color: black;
}

ul, li {
  list-style: none;
}

.root {
  position: relative;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: darkblue;
  color: #ffffff;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.55);
}

.header h1 a {
  color: #fff;
  letter-spacing: .5px;
}

.btn button {
  width: 80px;
  height: 30px;
  margin-right: 10px;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
}

.btn button:hover {
  box-shadow: inset 8px 8px 5px rgba(0, 0, 0, 0.15);
}

.list_day {
  position: relative;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_day li {
  margin: 0 10px;
  width: 120px;
}

.list_day a {
  display: block;
  padding: 10px 0;
  text-align: center;
  border: 1px solid black;
  background: #899cf3;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.15),
    5px 5px 10px rgba(0, 0, 0, 0.15)
}

.list_day a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

table {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  margin: 0 auto;
  width: 550px;
  border: 1px solid black;
  border-collapse: collapse;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15),
    3px 3px 3px rgba(0, 0, 0, 0.15);
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.day_title {
  margin: 30px 0;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: underline;
}

.day_sub {
  position: fixed;
  bottom: 50%;
  right: 10%;
  transform: translate(-10%, -50%);
  width: 80px;
  margin: 10px auto;
  border: 1px solid burlywood;
  text-align: center;
  border-radius: 6px;
  box-shadow: inset 6px 6px 5px rgba(0, 0, 0, 0.15);
}

@media (max-width: 564px) {
  body {
    padding: 0;
  }
  .header h1 a {
    font-size: 24px;
  }
  table {
    width: 380px;
  }
  
}

.btn_td {
  width: 170px;
}

td button {
  margin: 0 10px;
  width: 40px;
  height: 25px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid gray;
  box-shadow: inset 1px 5px 5px rgba(0, 0, 0, 0.15),
    1px 5px 5px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  cursor: pointer;
}

td button:first-child {
  width: 60px;
  background: #899cf3;
  color: #ffffff;
}

td button:last-child {
  background: #cf7d7d;
  color: #ffffff;
}

.off {
  background-color: rgba(0, 0, 0, 0.15);
  opacity: .6;
}

button.count_btn {
  width: 80px;
  height: 50px;
  background: #cf7d7d;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input_container .input_area {
  margin: 6px 0;
}

.input_container button {
  margin-top: 6px;
  width: 120px;
  height: 30px;
  /* border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.25); */
  background: #3b5998;
  color: #ffffff;
  cursor: pointer;
}